<div class="questions">
  <% @questions.each do |question| %>
    <div class="question clearfix">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <div class="question-details">
              <span class="question-title"><%= link_to question.title, question %></span>
              <span class="question-description"><%= markdown(question.description) %></span>
            </div>
          </div>
          <div class="col-sm-3 col-sm-offset-1">
            <% if user_signed_in? %>
              <% if question.votes.exists?(user: current_user)  %>
                <%= link_to question_vote_path(question), method: :delete do %>
                  <p>Votar(-): <%= question.votes.count %></p>
                <% end %>
              <% else %>
                <%= link_to question_vote_path(question), method: :post do %>
                  <p>Votar(+): <%= question.votes.count %></p>
                <% end %>
              <% end %>
            <% else %>
              <p>Votos: <%= question.votes.count %></p>
            <% end %>
            <p>Comentarios: <%= question.comments.count %></p>
            <p>Respuestas: <%= question.answers.count %></p>
          </div>              
        </div>
      </div>
    </div>
  <% end %>
</div>