<div class="question-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <header class="question-header">
          <h1><%= @question.title %></h1>
          <p><%= markdown(@question.description) %></p>
          <% if user_signed_in? && @question.user == current_user %>
            <div class="actions">
              <%= link_to "<span class='glyphicon glyphicon-pencil'></span>".html_safe, edit_question_path(@question) %>
              <%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, @question, method: :delete, data: { confirm: "¿Estás seguro de eliminar esta pregunta?" } %>
            </div>
          <% end %>        
        </header>        
      </div>
      <div class="col-sm-2">
        <div class="question-votes">
          <p>Votos: <%= @question.votes.count %></p>
        </div>        
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">
        <% if @question.comments.any? %>
          <%= render partial: "comments/comments", locals: {commentable: @question} %>
        <% end %>
        <%= render partial: "comments/form", locals: {commentable: @question} %>
      </div>
    </div>
    <% @question.answers.each do |answer| %>
      <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
          <div class="panel panel-default">
            <header class="panel-heading">
              <h2>Respondido por: </h2>
              <img src="<%= Gravatar.new("#{answer.user.email}").image_url %>" class="img-circle" />
              <%= answer.user.email %>
            </header>
            <div class="panel-body">
              <%= markdown(answer.body) %>
            </div>
          </div>
        </div>
        <div class="col-sm-2">
          <% if user_signed_in? %>
            <% if answer.votes.exists?(user: current_user)  %>
              <%= link_to answer_vote_path(answer), method: :delete do %>
                <p class="already">Votar(-): <%= answer.votes.count %></p>
              <% end %>
            <% else %>
              <%= link_to answer_vote_path(answer), method: :post do %>
                <p class="notyet">Votar(+): <%= answer.votes.count %></p>
              <% end %>
            <% end %>
          <% else %>
            Votos: <%= answer.votes.count %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
          <% if answer.comments.any? %>
            <%= render partial: "comments/comments", locals: {commentable: answer} %>
          <% end %>
          <% if user_signed_in? %>
            <%= render partial: "comments/form", locals: {commentable: answer} %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-sm-9 col-sm-offset-1">
        <% if user_signed_in? %>
          <%= form_for [@question, @question.answers.build] do |f| %>
            <div class="form-group">
              <%= f.text_area :body, class: "form-control", placeholder: "Escribir respuesta" %>
            </div>
            <div class="actions text-right">
              <%= f.submit "Enviar Respuesta", class: "btn btn-warning" %>
            </div>
            <br>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>